{% extends "accounts/accounts_base.html" %}

{% comment %}
<Program>
  accounts/about.html

<Author>
  Originally by?:
  Justin Samuel 2009

  Modified:
  Sai Kaushik Borra 2015

<Purpose>
  Django template file for {{ TESTBED }} {{ CLEARINGHOUSE }}'s 'home' page.  This home page
  is for non-logged in users only.

<Extends>
  accounts/accounts_base.html

<Stylesheet>
  common.css
  account.css
  help.css

<Scripts>
  jquery.js

<Template Variables>
  None

{% endcomment %}

{% block style %}
{{ block.super }}
<link href="{{ MEDIA_URL }}css/help.css" rel="stylesheet" type="text/css" />
{% endblock style %}

{% block title %}
About - {{ CLEARINGHOUSE }}
{% endblock title %}

{% block nav_home %}
<td><a href="{% url 'home' %}">Home</a></td>
{% endblock nav_home %}

{% block content %}
	<div id="main">
		<div id="middle">

			<h2>About the Sensibility Testbed & Consortium</h2>
			<p>
			    The philosophy behind the Sensibility Testbed is to enable researchers to use the sensing capabilities of smartphones and tablets in a way that protects those devices and preserves device owners’ privacy. Researchers conduct experiments by collecting data from mobile devices’ sensors such as accelerometers, GPS, WiFi network interfaces, cameras, etc. By accessing sensors on remotely located devices, researchers can passively gather and measure real-time data that describes real world phenomena rather than lab situations. For example, smartphone accelerometers are able to detect vibrations within the frequency and intensity range of seismic waves, which can improve earthquake detection. WiFi-based location services could be used by researchers to build better indoor navigation applications.
            </p>
            <p>
                The Sensibility Testbed Consortium manages the Testbed and ensures the security and privacy of device owners (and their devices) who make their mobile devices available to the Sensibility research community. Researchers register their experiments on the Sensibility Clearinghouse and Consortium members moderate all experiments to ensure that shared sensors are used in ways that protect device owners’ privacy. The policies in place to ensure this privacy/security are described more fully at [link to: Terms of Participation, for Device Owners], [link to: Terms of Use for Researchers].
            </p>



            <h2>For Additional Information</h2>
            <p>
                <a href="mailto:sensibility-testbed-users@googlegroups.com">sensibility-testbed-users@googlegroups.com</a>
			</p>

            <h2>Consortium Members & Affiliated Institutions</h2>
                <p>
                    Justin <br/>
                    Yanyan <br/>
                    Albert <br/>
                    …  <br/>
                    NYU Poly
                </p>

            {% include "common/footer.html" %}

		</div>
	</div>


{% endblock content %}
