{% extends "accounts/accounts_base.html" %}

{% comment %}
<Program>
  register.html

<Author>
  Originally by?:
  Sai Kaushik Borra 2015

<Purpose>
  Django template file for {{ TESTBED }} {{ CLEARINGHOUSE }}'s 'experiment registration' page.  The page
  allows a visitor to register a new experiment.

<Extends>
  accounts/accounts_base.html

<Stylesheet>
  common.css
  form.css

<Scripts>
  register.js

<Template Variables>
  page_top_errors:
    Error messages to display.

  form:
    New user registration form.  See GeniUserCreationForm in forms.py for more info.
    .username:
    .password1:
    .password2:
    .affiliation:
    .email:
    .pubkey:
    .gen_upload_choice:

{% endcomment %}
{% block title %}
Experiment Registration - {{ CLEARINGHOUSE }}
{% endblock title %}

{% block script %}
{{ block.super }}
<script type="text/javascript" src="{{MEDIA_URL}}scripts/register.js" charset="utf-8"></script>
{% endblock script %}

{% block nav_register %}
<td class="active">Register an Experiment</td>
{% endblock nav_register %}

{% block content %}
  <div id="main">
    <div id="middle">

        <div id="intro">
            Any researcher who would like to perform experiments using smartphone sensors may register on the Sensibility Testbed Clearinghouse site.
        </div>

            {% if messages %}
                <div class="row">
                    {% for message in messages %}
                        <p {% if message.tags %} class="alert alert-success {{ message.tags }}" {% endif %}> {{ message }} </p>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="alert alert-failure">
                {{ form.errors }}
                {{ form.non_field_errors }}
            </div>

            <div class="well">
                {% for data in post_data %}
                    {{ data.key }} | {{ data.value }} <br/>
                {% endfor %}
            </div>
            <div name="ExperimentRegistrationForm">
                <form action="{% url 'experimentregistration' %}" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <!--{% if form.username.errors or form.password1.errors or form.password2.errors or form.affiliation.errors or form.email.errors or form.pubkey.errors %}-->
                      <!--<p class="warning2">-->
                      <!--Please correct the following:</p>-->
                  <!--{% endif %}-->

                  <!--{% if page_top_errors %}-->
                      <!--<p class="warning">-->
                          <!--{% for error in page_top_errors %}-->
                            <!--{{ error }}-->
                            <!--<br/>-->
                          <!--{% endfor %}-->
                      <!--</p>-->
                  <!--{% endif %}-->

                  <h1>Register your Experiment</h1>

                  <ol name="BasicInfo" type="1">

                      <li>Provide some basic information (all fields are mandatory):
                          <div class="form-group">
                                  <!--<label for="ExperimentName">Experiment Name</label>-->
                                  <!--<input type="text" class="form-control" id="ExperimentName" placeholder="Enter an Experiment Name">-->
                                  <!--{{experimentinfoform.experiment_name.label}} {{experimentinfoform.experiment_name}}-->
                              <label class="control-label" for="id-{{ experimentinfoform.name.name }}">{{ experimentinfoform.name.label }}</label>
                              <input type="text" class="form-control"
                                  name="{{ experimentinfoform.name.name }}"
                                  id="id-{{ experimentinfoform.name.name }}"
                                  placeholder="Enter {{ experimentinfoform.name.label }}" required>
                          </div>

                          <div class="form-group">
                              <p>
                                  <!--<label for="ResearcherName">Researcher Name</label>-->
                                  <!--<input type="text" class="form-control" id="ResearcherName" placeholder="Enter Researcher's Name">-->
                                  <label class="control-label" for="id-{{ experimentinfoform.researcher_name.name }}">{{ experimentinfoform.researcher_name.label }}</label>
                                  <input type="text" class="form-control"
                                      name="{{ experimentinfoform.researcher_name.name }}"
                                      id="id-{{ experimentinfoform.researcher_name.name }}"
                                      placeholder="Enter {{ experimentinfoform.researcher_name.label }}" required>
                              </p>
                          </div>

                          <div class="form-group">
                                  <!--<label for="ResearcherAddr">Name and address of researcher’s home institution</label>-->
                                  <!--<input type="text" class="form-control" id="ResearcherAddr" placeholder="Name and address of researcher’s home institution">-->
                                  <label class="control-label" for="id-{{ experimentinfoform.researcher_address.name }}">{{ experimentinfoform.researcher_address.label }}</label>
                                  <input type="text" class="form-control"
                                    name="{{ experimentinfoform.researcher_address.name }}"
                                    id="id-{{ experimentinfoform.researcher_address.name }}"
                                    placeholder="Enter {{ experimentinfoform.researcher_address.label }}" required>
                          </div>

                          <div class="form-group">
                              <p>
                                  <!--<label for="ResearcherEmail">Researcher’s Email address</label>-->
                                  <!--<input type="email" class="form-control" id="ResearcherEmail" placeholder="Researcher’s email address">-->
                                  <label class="control-label" for="id-{{ experimentinfoform.researcher_email.name }}">{{ experimentinfoform.researcher_email.label }}</label>
                                  <input type="email" class="form-control"
                                    name="{{ experimentinfoform.researcher_email.name }}"
                                    id="id-{{ experimentinfoform.researcher_email.name }}"
                                    placeholder="Enter {{ experimentinfoform.researcher_email.label }}" required>
                              </p>
                          </div>

                          <div class="form-group">
                              <p>
                                  <!--<label for="IRBName">Name of home institution’s IRB officer or contact person</label>-->
                                  <!--<input type="text" class="form-control" id="IRBName" placeholder="Enter the name of contact person">-->
                                  <label class="control-label" for="id-{{ experimentinfoform.irb_officer_name.name }}">{{ experimentinfoform.irb_officer_name.label }}</label>
                                  <input type="text" class="form-control"
                                    name="{{ experimentinfoform.irb_officer_name.name }}"
                                    id="id-{{ experimentinfoform.irb_officer_name.name }}"
                                    placeholder="Enter {{ experimentinfoform.irb_officer_name.label }}" required>
                              </p>
                          </div>

                          <div class="form-group">
                              <p>
                                  <!--<label for="IRBEmail">Email address of of home institution’s IRB officer or contact person</label>-->
                                  <!--<input type="email" class="form-control" id="IRBEmail" placeholder="Enter the email address of contact person">-->
                                  <label class="control-label" for="id-{{ experimentinfoform.irb_officer_email.name }}">{{ experimentinfoform.irb_officer_email.label }}</label>
                                  <input type="email" class="form-control"
                                    name="{{ experimentinfoform.irb_officer_email.name }}"
                                    id="id-{{ experimentinfoform.irb_officer_email.name }}"
                                    placeholder="Enter {{ experimentinfoform.irb_officer_email.label }}" required>
                              </p>
                          </div>
                          <hr/>
                      </li>
                      <li name="ExperimentDetails">
                          Provide details of your experiment
                          <ol type="A">
                              <li>
                                  <!--<div class="form-group">-->
                                      <!--<label for="goal">What is the goal of your research experiment? What do you want to find out?</label>-->
                                      <!--<input type="text" class="form-control" id="goal" placeholder="Enter the goal of your experiment">-->
                                  <!--</div>-->

                                  <label for="id-{{ experimentinfoform.goal.name }}">{{ experimentinfoform.goal.label }}</label>
                                  <input type="text" class="form-control"
                                    name="{{ experimentinfoform.goal.name }}"
                                    id="id-{{ experimentinfoform.goal.name }}"
                                    placeholder="Enter the goal of your experiment" required>
                              </li>
                              <li>
                                  <strong>What type(s) of smartphone sensors will you use (check all that apply)? A list of available sensors may be found at: <a href="https://sensibilitytestbed.com/projects/project/wiki/sensors">https://sensibilitytestbed.com/projects/project/wiki/sensors</a></strong>
                                  {% for sensor_dict in sensor_data %}
                                      <div class="sensor" id=sensor-{{sensor_dict.sensor.0}}>

                                          <!--<input type="checkbox" name="sensor"-{{sensor_dict.sensor.0}} value={{sensor_dict.sensor.0}}> {{sensor_dict.sensor.1}}-->

                                          <div class="checkbox">
                                              <label>
                                                  <input type="checkbox"
                                                          name="select_sensor-{{ sensor_dict.sensor.0 }}"
                                                          id="select_sensor-{{ sensor_dict.sensor.0 }}"
                                                          value="{{ sensor_dict.sensor.0 }}" > {{sensor_dict.sensor.1}}
                                              </label>
                                          </div>

                                          <div class="well sensor_atrributes" id=sensorattr-{{sensor_dict.sensor.0}}>

                                              {% for sensor_att in sensor_dict.sensor_attributes %}
                                                  <input type = "checkbox"
                                                         name = "sensorattr-{{ sensor_dict.sensor.0 }}-{{sensor_att.0}}"
                                                         id = "sensorattr-{{ sensor_dict.sensor.0 }}-{{sensor_att.0}}"
                                                         value = {{sensor_att.0}}> {{sensor_att.1}}
                                                  <br/>
                                              {% endfor %}

                                                  <div class="form-group">
                                                      <ol type="i">
                                                          <li>
                                                              <strong>How often will you need to access<b><i>'{{sensor_dict.sensor.1}}'</i></b>sensor data?</strong>
                                                              <div class="form-inline">
                                                                  <div class="form-group">
                                                                      <label for="frequency-{{ sensor_dict.sensor.0 }}">Once every</label>
                                                                      <input type="text" class="form-control" id="frequency-{{ sensor_dict.sensor.0 }}"
                                                                              name="frequency-{{ sensor_dict.sensor.0 }}">
                                                                  </div>
                                                                  <div class="form-group">
                                                                      <select id="frequency_unit-{{ sensor_dict.sensor.0 }}"
                                                                              name="frequency_unit-{{ sensor_dict.sensor.0 }}">
                                                                          <option value="hour" selected="selected">hour</option>
                                                                          <option value="min">min</option>
                                                                          <option value="sec">sec</option>
                                                                      </select>
                                                                  </div>
                                                              </div>
                                                              <div>
                                                                  <label for="frequency_other-{{ sensor_dict.sensor.0 }}">Other:</label>
                                                                  <input type="text" class="form-control" id="frequency_other-{{ sensor_dict.sensor.0 }}"
                                                                          name="frequency_other-{{ sensor_dict.sensor.0 }}">
                                                              </div>
                                                          </li>
                                                          <li>
                                                              <strong>How precise do you need the<b><i>'{{sensor_dict.sensor.1}}'</i></b>data to be?</strong><br/>
                                                              <input type="radio" name="sensor_precision-{{ sensor_dict.sensor.0 }}" value="full" checked="checked"/> Full precision<br/>

                                                              <input type="radio" name="sensor_precision-{{ sensor_dict.sensor.0 }}" value="truncate"/> Truncation allowed


                                                              <div name="truncate-attribs">
                                                                  <div class="panel panel-default">
                                                                      <div class="panel-body">
                                                                          {% for sensor_att in sensor_dict.sensor_attributes %}
                                                                              <!--<li><b>{{sensor_att.1}}</b> Allow <input type="text"> decimal points</li>-->
                                                                              <!--<div class="form-horizontal">-->
                                                                                  <!--<div class="form-group form-group-sm">-->
                                                                                      <!--<input class="col-sm-1" type="checkbox" name="sensor" value={{sensor_dict.sensor.0}}>-->
                                                                                      <!--<label class="col-sm-4 control-label" for="truncate-attrib">{{sensor_att.1}}</label>-->
                                                                                      <!--<div class="col-sm-6">-->
                                                                                          <!--Keep <input type="text" id="truncate-attrib"> decimal points-->
                                                                                      <!--</div>-->
                                                                                  <!--</div>-->
                                                                              <!--</div>-->

                                                                              <div class="row">
                                                                                  <div class="col-md-3">{{ sensor_att.1 }}</div>
                                                                                  <div class="col-md-3">
                                                                                      <input type="radio" name="sensorattr_precision-{{ sensor_dict.sensor.0 }}-{{ sensor_att.0 }}" value="full" checked="checked"/> Full precision
                                                                                  </div>
                                                                                  <div class="col-md-4">
                                                                                      <input type="radio" name="sensorattr_precision-{{ sensor_dict.sensor.0 }}-{{ sensor_att.0 }}" value="truncate"/> Truncation allowed<br/>
                                                                                      <input type="text"
                                                                                                  class="col-sm-2 form-control input-sm"
                                                                                                  id="sensorattr_precision_value-{{ sensor_dict.sensor.0 }}-{{ sensor_att.0 }}"
                                                                                                  name="sensorattr_precision_value-{{ sensor_dict.sensor.0 }}-{{ sensor_att.0 }}"
                                                                                                    placeholder="No. of Decimal points allowed">
                                                                                  </div>
                                                                              </div>
                                                                          {% endfor %}
                                                                      </div>
                                                                  </div>
                                                              </div>

                                                              <input type="radio" name="sensor_precision-{{ sensor_dict.sensor.0 }}" id="sensor_precision-{{ sensor_dict.sensor.0 }}" value="other">
                                                              <label for="sensor_precision_other-{{ sensor_dict.sensor.0 }}">A level of data precision that we currently do not support? Please elaborate:</label>
                                                              <input type="text" class="form-control" name="sensor_precision_other-{{ sensor_dict.sensor.0 }}" id="sensor_precision_other-{{ sensor_dict.sensor.0 }}">
                                                          </li>
                                                          <li>
                                                              <label for="usage-{{sensor_dict.sensor.0}}">What will these<b><i>'{{sensor_dict.sensor.1}}'</i></b>sensor data be used for?</label>
                                                              <input type="text" class="form-control" id="usage-{{sensor_dict.sensor.0}}" name="usage-{{sensor_dict.sensor.0}}"
                                                                      name="usage-{{sensor_dict.sensor.0}}" name="usage-{{sensor_dict.sensor.0}}">
                                                          </li>
                                                      </ol>
                                                  </div>
                                          </div>
                                      </div>

                                      <!--<label> {{key}}</label>-->
                                      <!--<input type="checkbox" name="{{key.1}}" value="{{key.1}}" label="{{key.1}}" >-->
                                      <!--{% for e in val %}-->
                                          <!--{{e.1}}-->
                                          <!--<input type="checkbox" name="{{e.1}}" value="{{e.1}}" > {{e.1}}-->
                                      <!--{% endfor %}-->
                                      <hr/>
                                  {% endfor %}
                                  <label for="new-sensors"><b>Other:</b>If you find sensors that we donot support, please tell us more: </label>
                                  <input type="text" class="form-control" id="new-sensors" name="new-sensors">
                              </li>
                              <li>
                                  <label for="downloadable">Using the sensors you identified above, what type(s) of sensor data will be downloaded from participants’ devices?</label>
                                  <input type="text" class="form-control" id="downloadable" name="downloadable">
                              </li>
                              <li>
                                  <label for="store">How and where will you store and protect the collected data?</label>
                                  <input type="text" class="form-control" id="store" name="store">
                              </li>
                          </ol>
                      </li>

                      <li>
                          <input type="checkbox" name="Agree" value="agree" required> I have read and agree to the <a href="">Terms of Use for Researchers</a>
                      </li>
                  </ol><hr/>
                  <input type="submit" class="btn btn-primary btn-lg btn-block" value="Register my Experiment">
              </form>
          </div>

    </div>
    </div>

{% endblock content %}