{% extends "accounts/accounts_base.html" %}

{% comment %}
<Program>
  accounts/help.html

<Author>
  Originally by?:
  Justin Samuel 2009

  Modified:
  Gaetano Pressimone 2012
  
<Purpose>
  Django template file for {{ TESTBED }} {{ CLEARINGHOUSE }}'s 'help' page.  This help page
  is for non-logged in users only.

<Extends>
  accounts/accounts_base.html

<Stylesheet>
  common.css
  account.css
  help.css

<Scripts>
  jquery.js

<Template Variables>
  None

{% endcomment %}

{% block style %}
{{ block.super }}
<link href="{{ MEDIA_URL }}css/help.css" rel="stylesheet" type="text/css" />
{% endblock style %}

{% block title %}
Help - {{ CLEARINGHOUSE }}
{% endblock title %}

{% block nav_help %}
<td class="active"><a href="{% url 'accounts_help' %}">Help</a></td>
{% endblock nav_help %}

{% block content %}
	<div id="main">
		<div id="middle">
			<div id="toc">
				<h3>Table of Contents</h3>
				<ul>
					<li><a href="#register" title="How to Register">How to Register</a></li>
					<li><a href="#login" title="How to Login">How to Login</a></li>
					<li><a href="#passwords" title="Lost passwords">Lost passwords</a></li>		
					<li><a href="#morehelp" title="more help">Have a question NOT answered on our site?</a></li>
				</ul>
			</div>
			
			<h2><a name="register">How to Register</a></h2>

			<p>You are required to fill out five fields as
			  part of the registration process.</p>
								 
			<ul>

			  <li><strong>Username.</strong> The login name
			  you want to use in the {{ CLEARINGHOUSE }} portal. You will
			  need your username as well as your password
			  to login to the portal. </li>

			  <li><strong>Password.</strong> You should
			    choose a password that is at least 6
			    characters in length. Please secure your
			    password by making it obscure enough to
			    evade possible dictionary attacks.</li>
			  
			<li><strong>Password Confirmation.</strong>
			  Confirm your password.</li>
				
			  <li><strong>Affiliation.</strong> Choose a
			    company name or an institution that you
			    associate with. </li>
			  
			<li><strong>My Public Key.</strong> If you
			  have a personal public/private key pair that
			  you would like to use to access {{ TESTBED }}
			  nodes, please select "Let me upload my
			  public key" and select to upload
			  your <strong>public key</strong> by clicking
			  "Browse.." in the field
			  below. Alternatively, you can have {{ CLEARINGHOUSE }}
			  generate the public/private key pair for
			  you.</li>
			</ul>
			
			<h2><a name="login">How to Login</a></h2>
			
			<p>Enter your username and password to log
			  into the portal. There is a “login” button at the top of every page.</p>
			
			<h2><a name="passwords">Lost passwords</a></h2>
			
			<p>If you forget your password or your username,
			  please email <a href="{{ TESTBED_DEVELOPERS_MAIL }}">{{ TESTBED_DEVELOPERS_MAIL }}</a>.   For password reset requests,
			  we validate that you are able to receive mail from 
			  the email address listed under the account.
            </p>

            <h2><a name="More Help">Have a question NOT answered on our site?</a></h2>

            <p>There are two ways to get more information</p>
            <ul>
                <li>
                    <strong>Use our mailing list</strong>
                    <br/>
                    Feel free to email us at: <a href="mailto:sensibility-testbed-users@googlegroups.com">sensibility-testbed-users@googlegroups.com</a> with questions!
                </li>
                <li>
                    <strong>Read our wiki</strong>
                    <br/>
                    We have a growing collection of helpful resources for users of the Sensibility Testbed. Visit our <a href="https://sensibilitytestbed.com/">main page</a> to get started, or jump to more specific page for a <a href="https://sensibilitytestbed.com/projects/project/wiki/demo">demo</a>.
                </li>
            </ul>


			
			{% include "common/footer.html" %}
		</div>
	</div>


{% endblock content %}
