{% extends "accounts/accounts_base.html" %}

{% comment %}
<Program>
  accounts/IRBnuts.html

<Author>
  Originally by?:
  Justin Samuel 2009

  Modified:
  Sai Kaushik Borra 2015

<Purpose>
  Django template file for {{ TESTBED }} {{ CLEARINGHOUSE }}'s 'home' page.  This home page
  is for non-logged in users only.

<Extends>
  accounts/accounts_base.html

<Stylesheet>
  common.css
  account.css
  help.css

<Scripts>
  jquery.js

<Template Variables>
  None

{% endcomment %}

{% block style %}
{{ block.super }}
<link href="{{ MEDIA_URL }}css/help.css" rel="stylesheet" type="text/css" />
{% endblock style %}

{% block title %}
IRB in a nutshell - {{ CLEARINGHOUSE }}
{% endblock title %}

{% block nav_home %}
<td class="active"><a href="{% url 'home' %}">Home</a></td>
{% endblock nav_home %}

{% block content %}
	<div id="main">
		<div id="middle">

			<h2>Institutional Review Boards (IRBs) in a Nutshell</h2>

			<p>
                <strong>What is an IRB?</strong> <br/>
			    An institutional review board (IRB) is a committee that has been formally designated to approve, monitor, and
                review research involving humans (link). Universities and many research organizations have their own IRBs.
                Each IRB is the designated body within an institution that ensures that researchers follow strict protocols to
                protect their human subjects from potential harms, and that researchers have in place appropriate procedures that
                mitigate risks that may surround the research. For example, medical and psychological research has provided major
                benefits to the public and to individuals, but this research has also moved forward with some risks to both groups and
                individuals. Virtual research presents new challenges in trying to protect human subjects from potential harms. Prompted
                in part by past research that engaged in questionable and sometimes quite harmful methods, all research that involves
                human subjects now requires IRB approval from the researcher’s home or host institution. In general, this is an
                international standard with national and institutional variations in implementation. We follow U.S. and New York
                University protocols.
            </p>

            <p>
                <strong>Why does running an experiment on the Sensibility Testbed require IRB approval?</strong> <br/>
                The Sensibility Testbed gives researchers access to sensors that are embedded on devices that people use and carry with them everyday. Therefore, researchers are required to follow strict protocols to ensure that appropriate steps are taken to protect the privacy and security of device owners and associated data while they participate in research experiments hosted on the Sensibility Testbed.
			</p>

            <p>
                Issues that IRBs will be concerned with, for research done using the Sensibility Testbed, include: </p>
                <ol>
                    <li>How device owners’ privacy and confidentiality will be protected.</li>
                    <li>That participants who allow researchers to run experiments on their devices have given properly informed consent.</li>
                    <li>That participants have the option of leaving the experiment whenever they wish and for any reason.</li>
                    <li>Assurances that researchers will store the collected data using appropriate protocols that protect research subjects’ privacy, confidentiality, and identities.</li>
                </ol>
            <p>
                When researchers register their experiments through the Clearinghouse, they provide explicit details and we help simplify the IRB submission process by generating text that may be used for your IRB application. The Consortium also technically enforces the limitations and rules specified in your experiment description and IRB approval letter.  This means that, for example, if the IRB approval letter indicates that the experiment only needs to read GPS location once per minute, that experimenter will not be able to read the data more frequently.
            </p>

            <p>
                <strong>How long will IRB approval take?</strong> <br/>

                Every institution’s IRB is different; therefore it is not possible to predict the timeframe of any experiment’s approval process. However, we do recommend that researchers submit an initial IRB application that is as complete as possible and adheres to the institutions requirements. It may also be helpful to have a preliminary conversation with your IRB officer.
                <br/>
                Researchers are welcome to experiment using their own devices while waiting for IRB approval to conduct research using others’ devices. (link)

            </p>

            {% include "common/footer.html" %}

		</div>
	</div>


{% endblock content %}
