			<h2><a name="contact">Who to contact for more help</a></h2>
			
			<p>The {{ TESTBED }} {{ CLEARINGHOUSE }} portal is being actively worked
			on. We solicit and appreciate your comments
			concerning any aspect of your experience with
			using the web site and {{ TESTBED }} more
			generally.</p>

			<h3>Use our mailing list</h3>
			
			<p>Email {{ TESTBED }} users mailing list
			  at <a href="{{ TESTBED_USERS_MAIL }}">{{ TESTBED_USERS_MAIL }}</a>
			  with any further questions about {{ TESTBED }} {{ CLEARINGHOUSE }},
			  {{ TESTBED }} or anything else. We love receiving
			  feedback and hearing from our users. If you
			  have a highly technical question, also email
			  our developers list
			  at <a href="{{ TESTBED_DEVELOPERS_MAIL }}">{{ TESTBED_DEVELOPERS_MAIL }}</a>.</p>
			
			<h3>Read our Wiki</h3>
			
			<p>We have a growing collection of helpful
			  resources for users of {{ TESTBED }}, {{ TESTBED }} {{ CLEARINGHOUSE }}, and Repy
			  (the {{ TESTBED }} programming language). Visit our
			  <a href="{{ TESTBED_URL }}">main
			    page</a> to get started, or jump to more
			  specific area of the site intended for
			  <a href="{{ TESTBED_URL }}wiki/ProgrammersPage">programmers</a>, 
			  <a href="{{ TESTBED_URL }}wiki/EducatorsPage">educators</a>,
			  and <a href="{{ TESTBED_URL }}wiki/ContributorsPage">contributors</a>.</p>
