{% extends "control/control_base.html" %}

{% comment %}
<Program>
  register.html

<Author>
  Originally by?:
  Sai Kaushik Borra 2015

<Purpose>
  Django template file for {{ TESTBED }} {{ CLEARINGHOUSE }}'s 'experiment registration' page.  The page
  allows a visitor to register a new experiment.

<Extends>
  accounts/accounts_base.html

<Stylesheet>
  common.css
  form.css

<Scripts>
  register.js

<Template Variables>
  page_top_errors:
		Error messages to display.

  form:
		New user registration form.  See GeniUserCreationForm in forms.py for more info.
    .username:
		.password1:
		.password2:
    .affiliation:
		.email:
    .pubkey:
    .gen_upload_choice:

{% endcomment %}
{% block title %}
Experiment Registration - {{ CLEARINGHOUSE }}
{% endblock title %}

{% block script %}
{{ block.super }}
    <!--<script type="text/javascript" src="{{MEDIA_URL}}scripts/register.js" charset="utf-8"></script>-->
    <script type="text/javascript" src="{{MEDIA_URL}}scripts/exp_register.js" charset="utf-8"></script>
    <!--<script type="text/javascript">$('.collapse').collapse();</script>-->
{% endblock script %}

{% block nav_register %}
<td class="active">Register an Experiment</td>
{% endblock nav_register %}

{% block content %}
	<div id="main">
		<div id="middle">

		    <div id="intro">
		        Any researcher who would like to perform experiments using smartphone sensors may register on the Sensibility Testbed Clearinghouse site.
		    </div>

            {% if messages %}
                <div class="row">
                    {% for message in messages %}
                        <p {% if message.tags %} class="alert alert-success {{ message.tags }}" {% endif %}> {{ message }} </p>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="alert alert-failure">
                {{ exp_form.errors }}
                {{ exp_form.non_field_errors }}
		{% for s_form in exp_sensor_forms %}
			{{ s_form.errors }}
			{{ s_form.non_field_errors }}
		{% endfor %}
                {% for sa_form in exp_sa_forms %}
                        {{ sa_form.errors }}
			{{ sa_form.non_field_errors }}
                {% endfor %}

            </div>

            <!--<div class="well">
                {% for data in post_data %}
                    {{ data.key }} | {{ data.value }} <br/>
                {% endfor %}
            </div>-->
            <div name="ExperimentRegistrationForm">
                <form id="experiment" name="experiment" action="{% url 'expreg' %}" onsubmit="return validate_experiment()"  method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <!--{% if form.username.errors or form.password1.errors or form.password2.errors or form.affiliation.errors or form.email.errors or form.pubkey.errors %}-->
                      <!--<p class="warning2">-->
                      <!--Please correct the following:</p>-->
                  <!--{% endif %}-->

                  <!--{% if page_top_errors %}-->
                      <!--<p class="warning">-->
                          <!--{% for error in page_top_errors %}-->
                            <!--{{ error }}-->
                            <!--<br/>-->
                          <!--{% endfor %}-->
                      <!--</p>-->
                  <!--{% endif %}-->

                  <h1>Register your Experiment</h1>

                  <ol name="BasicInfo" type="1">

                      <li>Provide some basic information (all fields are mandatory):
                          <div class="form-group">
                                  <!--<label for="ExperimentName">Experiment Name</label>-->
                                  <!--<input type="text" class="form-control" id="ExperimentName" placeholder="Enter an Experiment Name">-->
                                  <!--{{exp_form.experiment_name.label}} {{exp_form.experiment_name}}-->
                              <label class="control-label" for="{{ exp_form.name.id_for_label }}">{{ exp_form.name.label }}</label>
                              <input type="text" class="form-control"
                                  name="{{ exp_form.name.name }}"
                                  id="{{ exp_form.name.id_for_label }}"
                                  placeholder="Enter {{ exp_form.name.label }}" required>
                          </div>

                          <div class="form-group">
                              <p>
                                  <!--<label for="ResearcherName">Researcher Name</label>-->
                                  <!--<input type="text" class="form-control" id="ResearcherName" placeholder="Enter Researcher's Name">-->
                                  <label class="control-label" for="{{ exp_form.researcher_name.id_for_label }}">{{ exp_form.researcher_name.label }}</label>
                                  <input type="text" class="form-control"
                                      name="{{ exp_form.researcher_name.name }}"
                                      id="{{ exp_form.researcher_name.id_for_label }}"
                                      placeholder="Enter {{ exp_form.researcher_name.label }}" required>
                              </p>
                          </div>

                          <div class="form-group">
                                  <!--<label for="ResearcherAddr">Name and address of researcher’s home institution</label>-->
                                  <!--<input type="text" class="form-control" id="ResearcherAddr" placeholder="Name and address of researcher’s home institution">-->
                                  <label class="control-label" for="{{ exp_form.researcher_address.id_for_label }}">{{ exp_form.researcher_address.label }}</label>
                                  <input type="text" class="form-control"
                                    name="{{ exp_form.researcher_address.name }}"
                                    id="{{ exp_form.researcher_address.id_for_label }}"
                                    placeholder="Enter {{ exp_form.researcher_address.label }}" required>
                          </div>

                          <div class="form-group">
                              <p>
                                  <!--<label for="ResearcherEmail">Researcher’s Email address</label>-->
                                  <!--<input type="email" class="form-control" id="ResearcherEmail" placeholder="Researcher’s email address">-->
                                  <label class="control-label" for="{{ exp_form.researcher_email.id_for_label }}">{{ exp_form.researcher_email.label }}</label>
                                  <input type="email" pattern="(?!(^[.-].*|[^@]*[.-]@|.*\.{2,}.*)|^.{254}.)([a-zA-Z0-9!#$%&'*+\/=?^_`{|}~.-]+@)(?!-.*|.*-\.)([a-zA-Z0-9-]{1,63}\.)+[a-zA-Z]{2,15}" class="form-control"
                                    name="{{ exp_form.researcher_email.name }}"
				    data-label="{{ exp_form.researcher_email.label  }}"
                                    id="{{ exp_form.researcher_email.id_for_label }}"
                                    placeholder="Enter {{ exp_form.researcher_email.label }}" required>
                              </p>
                          </div>

                          <div class="form-group">
                              <p>
                                  <!--<label for="IRBName">Name of home institution’s IRB officer or contact person</label>-->
                                  <!--<input type="text" class="form-control" id="IRBName" placeholder="Enter the name of contact person">-->
                                  <label class="control-label" for="{{ exp_form.irb_officer_name.id_for_label }}">{{ exp_form.irb_officer_name.label }}</label>
                                  <input type="text" class="form-control"
                                    name="{{ exp_form.irb_officer_name.name }}"
                                    id="{{ exp_form.irb_officer_name.id_for_label }}"
                                    placeholder="Enter {{ exp_form.irb_officer_name.label }}" required>
                              </p>
                          </div>

                          <div class="form-group">
                              <p>
                                  <!--<label for="IRBEmail">Email address of of home institution’s IRB officer or contact person</label>-->
                                  <!--<input type="email" class="form-control" id="IRBEmail" placeholder="Enter the email address of contact person">-->
                                  <label class="control-label" for="{{ exp_form.irb_officer_email.name }}">{{ exp_form.irb_officer_email.label }}</label>
                                  <input type="email" pattern="(?!(^[.-].*|[^@]*[.-]@|.*\.{2,}.*)|^.{254}.)([a-zA-Z0-9!#$%&'*+\/=?^_`{|}~.-]+@)(?!-.*|.*-\.)([a-zA-Z0-9-]{1,63}\.)+[a-zA-Z]{2,15}" class="form-control"
                                    name="{{ exp_form.irb_officer_email.name }}"
				    data-label="{{ exp_form.irb_officer_email.label  }}"
                                    id="{{ exp_form.irb_officer_email.id_for_label }}"
                                    placeholder="Enter {{ exp_form.irb_officer_email.label }}" required>
                              </p>
                          </div>
                          <hr/>
                      </li>
                      <li name="ExperimentDetails">
                          Provide details of your experiment
                          <ol type="A">
                              <li>
                                  <!--<div class="form-group">-->
                                      <!--<label for="goal">What is the goal of your research experiment? What do you want to find out?</label>-->
                                      <!--<input type="text" class="form-control" id="goal" placeholder="Enter the goal of your experiment">-->
                                  <!--</div>-->

                                  <label for="{{ exp_form.goal.id_for_label }}">{{ exp_form.goal.label }}</label>
                                  <input type="text" class="form-control"
                                    name="{{ exp_form.goal.name }}"
                                    id="{{ exp_form.goal.id_for_label }}"
                                    placeholder="Enter the goal of your experiment" required>
                              </li>
                              <li>
			  <strong>What type(s) of smartphone sensors will you use (check all that apply)?</strong><br/>
			  ( A list of available sensors may be found at: <a href="https://sensibilitytestbed.com/projects/project/wiki/sensors">https://sensibilitytestbed.com/projects/project/wiki/sensors</a>)<br/>
				  <p><b style="color:red">*</b> Select <b>ATLEAST ONE</b> sensor from below:</p>
                                  {% for sensor_dict,s_form in zipped_sensor_data %}
                                      <div class="sensor" id=sensor-{{sensor_dict.sensor.0}}>

                                          <div class="checkbox">
                                              <label for="{{ s_form.sensor.id_for_label }}" data-toggle="collapse" data-target="#sensorattr-{{sensor_dict.sensor.0}}">
                                                  <input type="checkbox" data-label={{sensor_dict.sensor.1}}
							  class="sensors"
                                                          name="{{ s_form.sensor.html_name }}"
                                                          id="{{ s_form.sensor.id_for_label }}"
                                                          value="{{ sensor_dict.sensor.0 }}" > {{sensor_dict.sensor.1}}
                                              </label>
                                          </div>

                                          <div class="panel panel-default sensor_atrributes collapse in" id="sensorattr-{{sensor_dict.sensor.0}}">
						<div class="panel-body">
					<h4><b style="color:red">*</b> Select ATLEAST ONE checkbox from below</h4>
						<div>

                                              {% for sensor_att,sa_form in sensor_dict.zipped_sa_data %}
						<label data-toggle="collapse" data-target="#precision_div-{{sensor_att.0}}">
                                                  <input type = "checkbox" data-label="{{sensor_att.1}}"
                                                         name = "{{ sa_form.sensor_attribute.html_name }}"
                                                         id = "{{ sa_form.sensor_attribute.id_for_label }}"
							class = "sensorattrs-{{ sensor_dict.sensor.0 }}"
                                                         value = {{sensor_att.0}}> {{sensor_att.1}}</label><br/>
						{% if sensor_dict.sensor.1 == 'Location' %}
						 <div id="precision_div-{{sensor_att.0}}" name="precision_div-{{sensor_att.0}}" class="panel panel-default collapse in" {% if sensor_att.2 == False %} style="display: none;" {% endif %}>
                                                        <div class="row">
                                                        <div class="col-md-3"><strong>Level of Blurring</strong></div>
                                                        <div class="col-md-3">
								<input type="hidden" name="{{ sa_form.precision_choice.html_name }}" value="truncate"/>
								<select class="form-control" name="{{ sa_form.precision_value.html_name }}">
									<option value='01'>City</option>
									<option value='10'>State</option>
									<option value='11'>Country</option>
								</select>
	                                                </div></div></div>
						{% else %}
						<div id="precision_div-{{sensor_att.0}}" name="precision_div-{{sensor_att.0}}" class="panel panel-default collapse in" {% if sensor_att.2 == False %} style="display: none;" {% endif %}>
                                                        <div class="row">
							<div class="col-md-3"><strong>Precision</strong></div>
							<div class="col-md-3">
                                                		<input type="radio" name="{{ sa_form.precision_choice.html_name }}" value="full" checked/> Full precision
	                                                </div>
	                                                <div class="col-md-4">
	                                                	<label data-toggle="collapse" data-target="#{{ sa_form.precision_value.id_for_label }}">
								<input type="radio" name="{{ sa_form.precision_choice.html_name }}" value="truncate"/> Truncation allowed</label> <br/>
        	                                        	<input type="number" min="1" step="1" class="col-sm-2 form-control input-sm collapse in" id="{{ sa_form.precision_value.id_for_label }}" name="{{ sa_form.precision_value.html_name }}" placeholder="No. of Decimal points allowed">
	                                                </div>
                                                </div></div>
						{% endif %}
                                              {% endfor %}
						</div>

                                                  <div class="form-group">
                                                      
                                                          <div class="panel panel-default">
                                                              <div class="panel-heading">Frequency</div>
							      <div class="panel-body"><strong>How often will you need to access<b><i>'{{sensor_dict.sensor.1}}'</i></b>sensor data?</strong>
                                                              <div class="form-inline">
                                                                  <div class="form-group">
                                                                      <label for="{{ s_form.frequency.id_for_label }}"><b style="color:red">*</b> Once every</label>
                                                                      <input type="text" class="form-control" id="{{ s_form.frequency.id_for_label }}"
                                                                              name="{{ s_form.frequency.html_name }}">
                                                                  </div>
                                                                  <div class="form-group">
                                                                      <select id="{{ s_form.frequency_unit.id_for_label }}"
                                                                              name="{{ s_form.frequency_unit.html_name }}">
                                                                          <option value="hour" selected="selected">hour</option>
                                                                          <option value="min">min</option>
                                                                          <option value="sec">sec</option>
                                                                      </select>
                                                                  </div>
                                                              </div>
                                                              <div>
                                                                  <label for="{{ s_form.frequency_other.id_for_label }}">Other:</label>
                                                                  <input type="text" class="form-control" id="{{ s_form.frequency_other.id_for_label }}"
                                                                          name="{{ s_form.frequency_other.html_name }}">
                                                              </div></div>
                                                          </div>
                                                          
                                                              <div class="panel panel-default">
                                                              <div class="panel-heading">Precision</div>
                                                              <div class="panel-body"><strong>How precise do you need the<b><i>'{{sensor_dict.sensor.1}}'</i></b>data to be?</strong><br/>
                                                              <label for="{{ s_form.precision_other.id_for_label }}">A level of data precision that we currently do not support? Please elaborate:</label>
                                                              <input type="text" class="form-control" name="{{ s_form.precision_other.html_name }}" id="{{ s_form.precision_other.id_for_label }}">
                                                          </div></div>
							  
							      <div class="panel panel-default">
                                                              <div class="panel-heading">Downloadable Data ?</div>
						      <div class="panel-body"><label for="{{s_form.downloadable.id_for_label}}"><b style="color:red">*</b> Will these<b><i>'{{sensor_dict.sensor.1}}'</i></b>sensor data be downloaded from participant's devices?</label>
							      <div class="row">
								<div class="col-md-3"> <input type="radio" name="{{ s_form.downloadable.html_name }}" value=1> Yes </div>
								<div class="col-md-3"> <input type="radio" name="{{ s_form.downloadable.html_name }}" value=0 checked> No </div>
							      </div>
							  </div></div>
                                                          
                                                              <div class="panel panel-default">
                                                              <div class="panel-heading">Usage Policy</div>
                                                              <div class="panel-body"><label for="{{s_form.usage_policy.id_for_label}}"><b style="color:red">*</b> What will these<b><i>'{{sensor_dict.sensor.1}}'</i></b>sensor data be used for?</label>
                                                              <input type="text" class="form-control" id="{{s_form.usage_policy.id_for_label}}" name="{{s_form.usage_policy.html_name}}">
                                                          </div></div>
                                                  </div>
                                          </div>
                                      </div></div>

                                  {% endfor %}
                                  <label for="{{exp_form.sensor_other.id_for_label}}"><b>Other:</b>{{exp_form.sensor_other.label}}: </label>
                                  <input type="text" class="form-control" id="{{exp_form.sensor_other.id_for_label}}" name="{{exp_form.sensor_other.html_name}}">
                              </li>
                              <!--<li>
                                  <label for="downloadable">Using the sensors you identified above, what type(s) of sensor data will be downloaded from participants’ devices?</label>
                                  <input type="text" class="form-control" id="downloadable" name="downloadable">
                              </li>-->
                              <li>
                                  <label for="{{exp_form.store_protect.id_for_label}}">{{exp_form.store_protect.label}}</label>
                                  <input type="text" class="form-control" id="{{exp_form.store_protect.id_for_label}}" name="{{exp_form.store_protect.html_name}}" required>
                              </li>
                          </ol>
                      </li>

                      <li>
                          <input type="checkbox" name="Agree" value="agree" required> I have read and agree to the <a href="{% url 'rterms' %}">Terms of Use for Researchers</a>
                      </li>
                  </ol><hr/>
                  <input type="submit" class="btn btn-primary btn-lg btn-block" value="Register my Experiment">
              </form>
          </div>

		</div>
    </div>

{% endblock content %}

